@*@{  
    ViewBag.Title = "Index";  
    Layout = ViewBag.Layout;  
    }  
    @using (Html.BeginForm("Index", "Home"))  
{  
<input type="submit" value="Click to Show _Layout1" />  
}  *@
@model string
  
<h1 class="bg-info text-white">Home</h1>
@Model
  
<div class="Home_Menu">

    <h2>Welcome at our Gym!</h2>


    @if (User?.Identity?.IsAuthenticated ?? false)
    {
        <a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>
    }

</div>

@Html.Partial("Partial")