<h2 class="bg-danger mb-1 p-2 text-white">Access Denied</h2>
<a asp-action="Index" asp-controller="Home" class="btn btn-primary">OK</a>

<a asp-controller="Account" asp-action="Logout" class="btn btn-danger">Logout</a>