
@model Client
@{
    ViewData["Title"] = "Create";
}
<a asp-action="Index">View all Clients</a>
<h2>Create</h2>
<form method="post">
    <p>
        <label asp-for="Name">Your Name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>
    <p>
        <label asp-for="Age">Your Age:</label>
        <input asp-for="Age" />
        <span asp-validation-for="Age"></span>
    </p>
    <p>
        <label asp-for="Phone">Your Phone Number:</label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </p>
    <p>
        <button type="submit">Submit</button>
    </p>
</form>