<html>
    <body>
    <h1>Zapraszamy na obiekt sportowy!</h1>
    <p>Oferujemy wiele dziedzin sportu takich jak: </p>
    <p>Basen, Siłownia, bieżnia, bufet</p>

    <h2>Otwarte codziennie 10-22</h2>
    </body>
</html>