@model Trainer
@{
    ViewData["Title"] = "Update";
}
<h2>Update</h2>
<form method="post">
    <p>
        <label asp-for="Name">Trainer's name:</label>
        <input asp-for="Name" />
        <span asp-validation-for="Name"></span>
    </p>
     <p>
        <label asp-for="Specialization">Trainer's Specialization:</label>
        <input asp-for="Specialization" />
        <span asp-validation-for="Specialization"></span>
    </p>
     <p>
        <label asp-for="Phone">Trainer's Phone:</label>
        <input asp-for="Phone" />
        <span asp-validation-for="Phone"></span>
    </p>
    <p>
        <label asp-for="Email">Trainer's' Email:</label>
        <input asp-for="Email" />
        <span asp-validation-for="Email"></span>
    </p>

    <p><button type="submit">Submit</button> </p>
</form>
